<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votero</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <main class="container">
    <div>
        <%- include("header.ejs") %>
        <div class="buttons" >
            <a href="/admin" role="button">I'm Admin</a>
            <a href="/liveElections" role="button">I'm Voter</a>
        </div>
    </div>
    </main>

</body>

</html>