* {
    text-decoration: none;
    color: #727272;
    font-family: "Courier New", monospace;
    font-weight: bolder;
    background-color: #f8f8f8;
}

ul li {
    list-style-type: none;
}

.topmenu,
.logout {
    display: inline-block;
}

.topmenu {
    float: left;
}

.logout {
    float: right;
}